.PanelBackground{
  background: rgba(32,35,41,.8);
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
.Alertpanel{
  position:fixed;
  background-color: #202324; 
    left: -10px;
    right: -10px;
    height: 30%;
  ;
  font-size: 15px;
  bottom: 1px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
 
}

.AlertButton{
  background-color: #61DAFA;
  box-shadow: 0px 10px 25px rgba(97, 218, 250, 0.5);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight:bold;
  color: #FAFAFA;
  display: flex;
  
  }
  .AlertButton{
    z-index: 1;
  }
  
 
    
