
.TodoSearch{
    width: calc(100% - 62px);
    text-align: center;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 24px;
    outline: none;
    border: 1px slid cornflowerblue;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.TodoSearch:focus{
    outline-color: blue ;
}
